spring:
    datasource:
        url: jdbc:postgresql://localhost:5432/jobportaldb
        username: postgres
        password: onkar@123
    jpa:
        hibernate:
            ddl-auto: update
        database-platform: org.hibernate.dialect.PostgreSQLDialect
        show-sql: true
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
                format_sql: true
file:
    upload-dir: ./uploads